<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin/assets/css/main.css" rel="stylesheet" type="text/css" />


</head>

<body>
    <div class="screen-overlay"></div>
    
    <%-include('./layouts/sidemenu.ejs') %>

    
    <main class="main-wrap">
        <%-include('./layouts/navbar.ejs')%>`

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <form action="/admin/categories" method="get" class="d-flex align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <input type="text" name="search" placeholder="Search..." class="form-control bg-white">
                    </div>
                    <button type="submit" class="btn btn-info">Search</button>
                </form>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method="post">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text" value="<%=edit.name%>" class="form-control" id="category_name" name="category_name"/>
                                </div>
                                <div class="mb-4">
                                    <label for="produc_name" class="form-label">Slug</label>
                                    <input type="text" value="<%=edit.slug %>" class="form-control" id="category_slug" name="category_slug" />
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Action</label>
                                    <select class="form-select" id="category_action" name="category_action">
                                        <option>Active</option>
                                        <option>inActive</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    
                                     <textarea placeholder="<%=edit.description%>" name="category_description" class="form-control" id="category_description"></textarea>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary" id="category_submit" type="submit">Save Changes</button>
                                </div>

                            </form>
                        </div>
                        <!-- <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Slug</th>
                                            <th>Action</th>
                                             <th>Edit</th> 
                                            <th class="text-.">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                        <tr>
                                            

                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        <!-- <a class="dropdown-item" href="#">View detail</a> 
                                                        <a class="dropdown-item" href="edit-category?id=">Edit info</a>
                                                        <a class="dropdown-item text-danger" href="delete-category?id=">Delete</a>
                                                    </div>
                                                </div> <!-- dropdown //end 
                                            </td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div> .col//
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/vendors/select2.min.js"></script>
    <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin/assets/js/main.js" type="text/javascript"></script>
</body>

</html>