<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin/assets/css/main.css" rel="stylesheet" type="text/css" />

                

    <style>
        
        .btn.btn-custom.btn-sm {
            background-color : red;
            
        }


    </style>
</head>

<body>
    <div class="screen-overlay"></div>

    <%-include('./layouts/sidemenu.ejs') %>

    <main class="main-wrap">
        <%-include('./layouts/navbar.ejs')%>

        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                        
                    <% if(typeof message != "undefined"){ %>
                        <h4 class="text-success"><%= message %></h4>
                        <% } %>

                
                        
                        <!-- <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                        </div> -->
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" form id="imageForm" enctype="multipart/form-data" action="/admin/products/edit?productId=<%=productData._id %>" enctype="multipart/form-data"  >
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input type="text" value="<%=productData.name%>" name="product_name"  class="form-control" id="product_name">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea  value="" name="description" class="form-control" rows="4"><%=productData.description%></textarea required>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input type="text" class="form-control" value="<%=productData.price %>" name="product_Aprice" id="product_Aprice">
                                                <div class="text-danger" id="error_Paprice"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Promotional price</label>
                                            <input ext" class="form-control" value="<%=productData.promo_price %>" name="product_Pprice" id="product_Pprice">
                                            <div id="error_Ppprice" class="text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Category</label>
                                        <select name="product_category" id="product_category" class="form-select">
                                            <% for(let i=0 ; i < categoryData.length ; i++ ) { %>
                                                <% if(!categoryData[i].delete) { %>
                                            <option value="<%= categoryData[i]._id %>"><%= categoryData[i].name %></option>
                                                <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                    <!-- <div class="col-lg-4">
                                        <label class="form-label">Currency</label>
                                        <select class="form-select">
                                            <option> USD </option>
                                            <option> EUR </option>
                                            <option> RUBL </option>
                                        </select>
                                    </div> -->
                                </div>
                                <!-- <div class="mb-4">
                                    <label class="form-label">Tax rate</label>
                                    <input type="text" placeholder="%" class="form-control" id="product_name">
                                </div>
                                <label class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label"> Make a template </span>
                                </label> -->
                                <div>
                                    <button class="btn btn-md rounded font-sm hover-up" type="submit">Upload</button>
                                </div>
                            
                                    </div>
                                </div> card end//

                                    <div class="row">
                                        <% for(let i = 0; i < productData.image.length; i++) { %>
                                            <div class="col-sm-6 mb-4">
                                                <div class="card mb-4">
                                                    <div class="card-body d-flex justify-content-between align-items-center">
                                                        <img src="/<%= productData.image[i].replace(/\\/g, '/') %>" alt="product image" style="max-width: 100px; max-height: 100px;">
                                                        <a style="background-color: rgb(210, 0, 0);color: white;" class="btn btn-sm ml-2 btn-danger rounded" href="/admin/products/edit/remove-image?productId=<%=productData._id%>&index=<%=i %>">Remove</a>

                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                    
                                    

                                        <!-- <div class="card mb-4">
                                            <div class="card-header">
                                                <h4>Shipping</h4>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="mb-4">
                                                                <label for="product_name" [class="form-label">Width</label>
                                                                <input type="text" placeholder="inch" class="form-control" id="product_name">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="mb-4">
                                                                <label for="product_name" class="form-label">Height</label>
                                                                <input type="text" placeholder="inch" class="form-control" id="product_name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="mb-4">
                                                        <label for="product_name" class="form-label">Weight</label>
                                                        <input type="text" placeholder="gam" class="form-control" id="product_name">
                                                    </div>
                                                    <div class="mb-4">
                                                        <label for="product_name" class="form-label">Shipping fees</label>
                                                        <input type="text" placeholder="$" class="form-control" id="product_name">
                                                    </div>
                                                </form>
                                            </div>
                                        </div> <!-- card end// -->
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                <h4>Media</h4>
                                            </div>
                                            <div class="card-body">

                                                

                                                <div class="mb-4">
                                                    <label for="image1" class="form-label">Image 1</label>
                                                    <input type="file" class="form-control" id="image1" name="images" accept="image/*" >
                                                </div>
                                                <div class="mb-4">
                                                    <label for="image2" class="form-label">Image 2</label>
                                                    <input type="file" class="form-control" id="image2" name="images" accept="image/*">
                                                </div>
                                                <div class="mb-4">
                                                    <label for="image3" class="form-label">Image 3</label>
                                                    <input type="file" class="form-control" id="image3" name="images" accept="image/*">
                                                </div>
                                                <div class="mb-4">
                                                    <label for="image4" class="form-label">Image 4</label>
                                                    <input type="file" class="form-control" id="image4" name="images" accept="image/*">
                                                </div>
                                                

                                            </div>
                                        </div> 
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                <h4>Stock</h4>
                                            </div>
                                            <div class="card-body">

                                                <!-- stock Data -->
                                                <% for(let key in productData.stock) {%>
                                                <label for="<%=key %>"><%=key %> Stock:</label>
                                                <input type="number" class="form-control" id="<%=key %>" name="stock[<%=key %>]" value="<%=productData.stock[key] %>" min="0">
                                                <br>
                                                <% } %>
                                            </div>
                                        </div>
                </form>
                    <!-- card end// -->
                    <!-- <div class="card mb-4">
                        <div class="card-header">
                            <h4>Stock</h4>
                        </div>
                        <div class="card-body">
                            <div class="row gx-2">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Category</label>
                                    <select class="form-select">
                                        <option> Automobiles </option>
                                        <option> Home items </option>
                                        <option> Electronics </option>
                                        <option> Smartphones </option>
                                        <option> Sport items </option>
                                        <option> Baby and Tous </option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Sub-category</label>
                                    <select class="form-select">
                                        <option> Nissan </option>
                                        <option> Honda </option>
                                        <option> Mercedes </option>
                                        <option> Chevrolet </option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Tags</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div> <!-- row.// -->
                        <!-- </div> -->
                    <!-- </div> card end// --> 
                </div>
            </div>
        </section> <!-- content-main end// -->
        <!-- <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer> -->
    </main>
    <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/vendors/select2.min.js"></script>
    <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin/assets/js/main.js" type="text/javascript"></script>

</body>

</html>
